@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
}

@layer base {
  html,
  body {
    overflow-x: hidden !important;
    max-width: 100vw;
    width: 100%;
  }

  #root {
    overflow-x: hidden;
    max-width: 100vw;
  }
}



